.btn {
  &.btn-chat {
    color: $green-color!important;
    border: 1px solid $green-color;
    background-color: transparent;
    @include transition(all 200ms);
    &:hover {
      color: $white-color!important;
      background-color: $green-color!important;
    }
    &.active {
      color: $white-color!important;
      background-color: $green-color!important;
    }
  }
  &.btn--send {
    color: $white-color;
    background-color: $green-color;
    border: 1px solid $green-color;
    margin-left: 8px;
    @include transition(all 200ms);
    &:hover {
      color: $white-color!important;
      border: 1px solid $dark-green-color;
      background-color: $dark-green-color!important;
    }
  }
}
