.no-padding {
  &.left {
    padding-left: 0px !important;
  }
  &.right {
    padding-right: 0px !important;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
