<div class="footer">
  <div class="container">
    <p class="footer__message">
      Made with
      <i class="fa fa-heart"></i>
      for <a href="http://eventtus.com" target="_blank">Eventtus</a>
    </p>
  </div>
</div>
