<div class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/">
          <img src="images/logo.svg" alt="Eventtus Chat">
        </a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav navbar-right">
          <li>
            <a ui-sref="main" ui-sref-active="active">
              Home
            </a>
          </li>
          <li>
            <a ui-sref="about" ui-sref-active="active">
              About
            </a>
          </li>
          <li>
            <a ui-sref="chats" class="btn btn-chat" ui-sref-active="active">
              Chat
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
