.aboutus {
  padding: 0 0 30px;
  .aboutus__heading {
    max-height: 400px;
    overflow: hidden;
    margin-bottom: 24px;
  }
  .aboutus__title {
    font-weight: bold;
    margin-bottom: 40px;
    font-size: 40px;
    color: $dark-grey-color;
  }
  .aboutus__description {
    font-size: 18px;
    color: $dark-grey-color;
  }
}
