.chat {
  padding: 25px 0;
  .chat__box {
    background-color: $white-color;
    border: 1px solid $light-grey-color;
    .conversations {
      .conversations__column {
        border-right: 1px solid $light-grey-color;
        .conversations__heading {
          padding: 10px;
          background-color: $white-color;
          border-bottom: 1px solid $light-grey-color;
        }
        .conversations__list {
          max-height: 600px;
          overflow: auto;
          margin-bottom: 0px;
          &.scroller {
            overflow: auto;
            max-height: 600px;

            &::-webkit-scrollbar {
              width: 6px;
            }

            &::-webkit-scrollbar-track-piece {
              background-color: #F1F1F1;
            }

            &::-webkit-scrollbar-thumb:horizontal,
            &::-webkit-scrollbar-thumb:vertical {
              background-color: $ultra-medium-grey-color;
            }
          }
          .conversations__conversation {
            border-bottom: 1px solid $light-grey-color;
            &:last-child {
              border-bottom: none;
            }
            .conversation__link {
              color: $black-color;
              text-decoration: none;
              padding: 10px 10px 5px;
              display: block;
              @include transition(all 200ms);
              &.link--active {
                background-color: #F6F6F6;
              }
              &:hover {
                background-color: #F6F6F6;
              }
              .conversation__members {
                display: block;
                margin-bottom: 10px;
                .member__info {
                  &:first-child {
                    .member__photo {
                      margin-left: 0px;
                    }
                  }
                  .member__photo {
                    // border: 1px solid $light-grey-color;
                    margin-left: -15px;
                  }
                }
              }
              .conversation__lastmessage {
                max-width: 50%;
                font-size: 12px;
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              .lastmessage__time {
                display: inline-block;
                float: right;
                font-size: 12px;
                color: #a7a7a7;
              }
            }
          }
        }
      }
    }
    .activeconversation {
      .activeconversation__active {
        .activeconversation__heading {
          padding: 10px;
          background-color: $white-color;
          border-bottom: 1px solid $light-grey-color;
          .activeconversation__title {
            display: block;
            font-size: 16px;
            color: $green-color;
            margin-bottom: 6px;
          }
          .activeconversation__members {

          }
        }
        .activeconversation__body {
          padding: 10px;
          height: 550px;
          max-height: 550px;
          overflow: auto;
          background-color: #F6F6F6;
          &.scroller {
            overflow: auto;
            max-height: 600px;

            &::-webkit-scrollbar {
              width: 6px;
            }

            &::-webkit-scrollbar-track-piece {
              background-color: #F1F1F1;
            }

            &::-webkit-scrollbar-thumb:horizontal,
            &::-webkit-scrollbar-thumb:vertical {
              background-color: $ultra-medium-grey-color;
            }
          }
          .activeconversation__messages {
            .activeconversation__message {
              padding: 10px 0;
              clear: both;
              .message__sender {
                display: inline-block;
                margin-right: 5px;
                &.sender__media {
                  vertical-align: top;
                }
                &.mine {
                  margin-left: 5px;
                  margin-right: 0px;
                }
              }
              .message__content {
                font-size: 14px;
                font-weight: normal;
                background-color: $light-grey-color;
                color: $black-color;
                &.mine {
                  background-color: $green-color;
                  color: $white-color;
                }
              }
              .message__media {
                border: 4px solid $light-grey-color;
                border-radius: 4px;
                display: inline-block;
                &.mine {
                  border: 4px solid $green-color;
                }
              }
            }
          }
        }
        .activeconversation__footer {
          height: 50px;
          padding: 8px 10px;
          background-color: #FAFAFA;
          border-top: 1px solid $light-grey-color;
          .form-inline {
            .form-group {
              width: 85%;
              .form-control {
                width: 100%;
              }
            }
            button {
              margin-left: 8px;
            }
          }
        }
      }
      .activeconversation__placeholder {
        min-height: 660px;
        text-align: center;
        .placeholder__message {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          .message__text {
            margin-top: 10px;
            color: $ultra-medium-grey-color;
          }
        }
      }
    }
  }
}
