.footer {
  background-color: $dark-grey-color;
  padding: 10px;
  .footer__message {
    color: $white-color;
    font-size: 14px;
    margin-bottom: 0px;
    i {
      color: $red-color;
    }
    a {
      color: $white-color;
      font-weight: bold;
      @include transition(all 200ms);
      text-decoration: none;
      &:hover {
        color: $green-color;
        text-decoration: none;
      }
    }
  }
}
