.header {
  .navbar {
    margin-bottom: 0px;
    &.navbar-default {
      background-color: $white-color;
      border-color: $light-grey-color;
      .navbar-nav {
        padding: 9px 0;
        > li {
          > a {
            color: $grey-color;
            padding: 10px 20px;
            font-size: 16px;
            @include transition(all 200ms);
            &:hover {
              color: $black-color;
            }
            &.active {
              background-color: transparent;
              color: $black-color;
              &.btn {
                &.btn-chat {
                  color: $white-color!important;
                  background-color: $green-color;
                }
              }
            }
          }
          &:last-child {
            > a {
              margin-left: 20px;
            }
          }
        }
      }
    }
    .navbar-header {
      .navbar-brand {
        padding: 10px 15px;
        height: 60px;
        > img {
          width: 190px;
        }
      }
    }
  }
}
