.welcome {
  padding: 50px 0;
  background-color: $dark-grey-color;
  background-image: url('../images/bg-hero.svg');
  background-position: center top;
  background-size: cover;
  color: $white-color;
  .welcome__block {
    color: $white-color;
    background-color: transparent;
    padding: 30px 0;
    margin-bottom: 0;
    .welcome__title {
      font-size: 50px;
      margin-top: 0;
      margin-bottom: 30px;
    }
    .welcome__message {
      font-size: 20px;
      margin-bottom: 30px;
    }
  }
}
.features {
  padding: 50px 0;
  .feature {
    .feature__heading {
      margin-top: 50px;
      font-size: 42px;
    }
  }
  .features__divider {
    margin: 60px 0;
  }
}
