$white-color: #FFFFFF;
$black-color: #000000;
$grey-color: #777777;
$dark-grey-color: #2F363D;
$ultra-light-grey-color: #F9F9F9;
$light-grey-color: #E2E2E2;
$medium-grey-color: #ECECEC;
$ultra-medium-grey-color: #D4D4D4;
$green-color: #1EB36B;
$dark-green-color: #1c9e5f;
$red-color: #E6402B;
