<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 no-padding left">
  {{activeConversation.length}}
  <div class="activeconversation__active" ng-if="activeConversation">
    <div class="activeconversation__heading">
      <span class="activeconversation__title">
        {{activeConversation.title}}
      </span>
      <span class="activeconversation__members">
        <span class="member__info" ng-repeat="member in activeConversation.users">
          <img ng-src="{{member.photo}}" class="member__photo img-circle" width="28px" height="28px">
        </span>
      </span>
    </div>
    <div class="activeconversation__body scroller" scroll-glue>
      <ul class="list-unstyled activeconversation__messages">
        <li class="activeconversation__message" ng-repeat="message in activeConversation.messages"
        ng-class="{'pull-right': message.isMine}">
          <span ng-if="message.isMine">
            <span class="label message__content mine" ng-if="message.type === 'text'">
              {{message.content}}
            </span>
            <span class="message__media mine" ng-if="message.type === 'media'">
              <img ng-src="{{message.content}}" width="150px" height="150px">
            </span>
            <span class="message__sender mine" ng-class="{'sender__media': message.type === 'media'}">
              <img src="https://avatars2.githubusercontent.com/u/7?v=3&s=56" width="30px" height="30px" class="img-circle">
            </span>
          </span>
          <span ng-if="!message.isMine">
            <span class="message__sender" ng-class="{'sender__media': message.type === 'media'}">
              <img ng-src="{{message.sender}}" width="30px" height="30px" class="img-circle">
            </span>
            <span class="label message__content" ng-if="message.type === 'text'">
              {{message.content}}
            </span>
            <span class="message__media" ng-if="message.type === 'media'">
              <img ng-src="{{message.content}}" width="150px" height="150px">
            </span>
          </span>
        </li>
      </ul>
    </div>
    <div class="activeconversation__footer">
      <form class="form-inline" name="chat" ng-submit="send()">
        <div class="form-group">
          <label class="sr-only" for="exampleInputEmail3">Email address</label>
          <input type="text" ng-model="text" class="form-control" on-enter="send()" placeholder="Enter Message">
        </div>
        <button ngf-select="upload($file)" ngf-resize="{width: 150, height: 150}" ng-model="files" class="btn btn-default">
          <span class="fa fa-paperclip"></span>
        </button>
        <input type="submit" id="submit" class="btn btn-success btn--send" value="Send">
      </form>
    </div>
  </div>
  <div class="conversation__placeholder" ng-if="!activeConversation">
    no active conversations
  </div>
</div>
