<content>
  <section class="chat">
    <div class="container">
      <div class="chat__box">
        <div class="row">
          <div class="conversations">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 no-padding right">
              <div class="conversations__column">
                <div class="conversations__heading">
                  <img src="https://avatars2.githubusercontent.com/u/7?v=3&s=56" width="56px" height="56px" class="img-circle">
                </div>
                <ul class="list-unstyled conversations__list scroller">
                  <li class="conversations__conversation" ng-repeat="chat in chatFeed">
                    <a ui-sref="chats.chat({id: chat.id})" ui-sref-active="link--active" class="conversation__link">
                      <span class="conversation__members">
                        <span class="member__info" ng-repeat="member in chat.users">
                          <img ng-src="{{member.photo}}" class="member__photo img-circle" width="40px" height="40px">
                        </span>
                      </span>
                      <span class="conversation__lastmessage">
                        {{chat.last_message.text}}
                      </span>
                      <span class="lastmessage__time">
                        {{chat.last_message.date | timeAgo}}
                      </span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div ui-view class="activeconversation">
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 no-padding left">
              <div class="activeconversation__placeholder">
                <div class="placeholder__message">
                  <img src="../images/message.png" width="128px" height="128px">
                  <p class="message__text">
                    No Messages Selected
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</content>
