<content>
  <section class="welcome">
    <div class="container">
      <div class="jumbotron welcome__block">
        <h2 class="welcome__title">The #1 Chat App in The MENA Region</h2>
        <p class="welcome__message">
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using it, making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose.
        </p>
        <a class="btn btn-lg btn-chat" ui-sref="chats">
          Chat Now
        </a>
      </div>
    </div>
  </section>
  <section class="features">
    <div class="container">
      <div class="row feature">
        <div class="col-md-7">
          <h2 class="feature__heading">First feature heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="feature__image img-responsive center-block" src="images/feature2.jpeg" alt="500x500">
        </div>
      </div>

      <hr class="features__divider">

      <div class="row feature">
        <div class="col-md-7 col-md-push-5">
          <h2 class="feature__heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="feature__image img-responsive center-block" src="images/feature3.jpeg" alt="500x500">
        </div>
      </div>

      <hr class="features__divider">

      <div class="row feature">
        <div class="col-md-7">
          <h2 class="feature__heading">First feature heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="feature__image img-responsive center-block" src="images/feature1.jpeg" alt="500x500">
        </div>
      </div>
    </div>
  </section>
</content>
